@font-face {
  font-family: "RobotoMono";
  src: local("RobotoMono"),
    url(../fonts/RobotoMono-VariableFont_wght.ttf) format("truetype");
}

* {
  font-family: RobotoMono, serif;
}

body {
  margin: 0;
  height: 100%;
  width: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: white;
}

.App {
  display: flex;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.sidebar {
  /* background-color: red; */
  margin: 30px;
  width: 30%;
  height: 100%;
  text-align: center;
  justify-content: center;
}

.main {
  /* background-color: blue; */
  margin: 30px;
  width: 70%;
  height: 100%;
  text-align: center;
}

.navbar {
  display: flex;
  border-bottom: 1px solid rgba(160, 160, 160, 0.7);
  background-color: #e0e0e0;
  align-items: center;
}

.navbar h2 {
  margin-left: 30px;
}

.menu-item {
  text-decoration: none;
  color: #000;
  border-left: 1px solid rgba(160, 160, 160, 0.3);
  margin-left: 20px;
  margin-right: 20px;
  padding-left: 40px;
}

.links {
  display: flex;
}

.icon {
  margin-right: 10px;
}

.login {
  text-decoration: none;
  background-color: #1ed760;
  color: white;
  padding: 10px;
  border-radius: 10px;
  box-shadow: #012 3px 3px;
}

.login:hover {
  background-color: white;
  color: #1ed760;
  box-shadow: #1ed760 3px 3px;
  transition: 0.5s ease;
}

.login:active {
  color: #012;
  transform: translateY(10px);
  box-shadow: #012 3px 3px;
}

.spotify {
  height: fit-content;
  width: 100%;
  background-color: rgba(66, 66, 66, 0.3);
  padding: 20px;
  align-items: center;
  justify-content: left;
  border-radius: 5px;
  box-shadow: #012 5px 5px;
}

.login-btn {
  margin: 10px;
  padding: 10px;
}

.repo {
  text-align: left;
  padding-bottom: 5px;
}

.repo a {
  text-decoration: none;
  color: #012;
  margin: 20px;
}

.repo a:hover {
  color: rgba(60, 60, 60, 0.3);
  transition: 0.2s ease-in-out;
}

.avatar {
  width: 75%;
  border-radius: 50%;
  background-image: url("../images/me.png");
}

.github {
  margin: 10px;
}
