@font-face {
  font-family: "RobotoMono";
  src: local("RobotoMono"),
    url(../fonts/RobotoMono-VariableFont_wght.ttf) format("truetype");
}

* {
  font-family: RobotoMono, serif;
}

/* General styles */

a {
  color: white;
  text-decoration: none;
}

body {
  margin: 0;
}

button {
  border: none;
  outline: none;
}

.App {
  display: flex;
  justify-content: center;
  width: 100%;
}

/* navbar styling */
.navbar {
  position: fixed;
  display: flex;
  top: 0;
  height: 50px;
  align-items: center;
  background-color: #e0e0e0;
  width: 100%;
  margin: 0;
  border-bottom: 1px solid rgba(160, 160, 160, 0.7);
}

.navbar h2 {
  margin: 10px;
}

.menu-item {
  text-decoration: none;
  border-left: 1px solid rgba(160, 160, 160, 0.7);
  padding: 0 20px;
  color: #181818;
}

.dropdown {
  display: none;
}

@media (max-width: 775px) {
  .menu-item {
    display: none;
  }

  .navbar > * {
    flex-basis: 100%;
  }

  .dropdown {
    display: inline;
    text-align: right;
    margin: 10px;
    /* background-color: rgba(160, 160, 160, 0.7); */
  }

  .toggle {
    background: #e0e0e0;
  }
}

/* icon styling */
.icon {
  padding-right: 10px;
}

/* header styling */
.title {
  margin-top: 70px;
  text-align: center;
}

/* section styling */

section {
  padding: 20px;
  background-color: #181818;
  border-radius: 10px;
  box-shadow: 5px 5px rgba(0, 0, 0, 0.5);
  color: white;
  margin: 10px;
  width: 75vw;
}

/* spotify module styling */
.spotify {
  text-align: center;
}

.login {
  text-decoration: none;
  background-color: #1ed760;
  color: white;
  padding: 10px;
  border-radius: 10px;
  box-shadow: white 3px 3px;
}

.login:hover {
  background-color: white;
  color: #1ed760;
  box-shadow: #1ed760 3px 3px;
  transition: 0.5s ease;
}

.login:active {
  color: #012;
  transform: translateY(10px);
  box-shadow: #012 3px 3px;
}

/* Bio style */

.avatar {
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.avatar img {
  border-radius: 50%;
  width: 50%;
  box-shadow: 5px 5px black;
}

.two-by-one {
  display: flex;
  width: 78vw;
  margin: 0;
  padding: 0;
}

.two-by-one > * {
  flex-grow: 1;
}

/* Repository style */

.repos {
  display: flex;
  flex-wrap: wrap;
}

.repo {
  background-color: white;
  color: #181818;
  padding: 10px;
  border-radius: 10px;
  margin: 10px;
}

.repo a {
  color: #012;
}

.github h2 {
  text-align: center;
}

/* Project style */

.project {
  justify-content: left;
}

.btn {
  height: 50px;
  width: 160px;
  margin: 10px;
  background-color: white;
  border-radius: 5px;
  color: #181818;
}

.btn :hover {
  background-color: white;
  color: #181818;
}

.btn .icon {
  height: 10px;
  width: 10px;
  margin: 0;
}

.disabled {
  background-color: rgba(160, 160, 160, 0.7);
  color: rgba(50, 50, 50, 0.5);
  height: 50px;
  width: 160px;
  margin: 10px;
  border-radius: 5px;
  border: none;
  outline: none;
}

.icon-dis {
  height: 10px;
  width: 10px;
  margin: 0;
}

.arrows {
  text-align: center;
  margin: 0;
}

.content {
  padding-left: 30px;
  padding-right: 30px;
  text-align: center;
}

.content img {
  width: 80%;
  height: 50vh;
}

.yt-player {
  height: 50vh;
  width: 80%;
}

.arrows {
  display: flex;
  justify-content: center;
  /* background-color: white; */
  width: 100%;
}

.arrows button {
  height: 45px;
  width: 45px;
  background: #181818;
  color: white;
  margin: 10px;
}

.arrows .invisible {
  color: #181818;
}

.header {
  text-align: left;
  padding-left: 30px;
  padding-right: 30px;
}

.buttons {
  display: flex;
  justify-content: center;
  /* background-color: white; */
}
