/** Now Playing **/

.Player {
  display: flex;
  height: fit-content;
  width: fit-content;
  align-items: center;
  justify-content: left;
}

.now-playing__name {
  font-size: 1.2em;
  margin-bottom: 0.2em;
}

.now-playing__artist {
  margin-bottom: 1em;
}

.now-playing__img {
  /* object-fit: fill; */
  width: 20%;
}

.now-playing__img img {
  max-width: 80vmin;
  width: 100%;
}

.now-playing__side {
  margin-left: 5%;
  width: 75%;
  display: flex;
  flex-direction: column;
  text-align: center;
}

/** Progress **/

.progress {
  border: 1px solid white;
  height: 6px;
  border-radius: 3px;
  overflow: hidden;
  width: 100%;
}

.progress__bar {
  background-color: white;
  height: 6px;
  height: 100%;
  width: 100%;
}

.play-pause {
  margin-bottom: 0.5em;
  height: 100%;
  width: 100%;
}
